<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous")
		title= title
	body
		div(class='container')
			h1= title
			//- FORM
			form(action="/add" method='post')
				div(class='form-inline')
					legend add a Tax pug
						div(class='form-group')
							input(id='title' class='form-control' type='text' name='title')
						div(class='form-group mx-sm-3')
							textarea( class='form-control' name="description", cols="80", rows="1" placeholder='Add a Description')
						button(class='btn btn-primary' type='submit') add
			//- LIST
			table(class='table table-bordered table-hover')
				thead(class='thead-inverse')
					tr
						th #
						th Title
						th Description
						th Operation
				tbody
					//- each field in task
					//- 	tr
					//- 		td #{field}					
